<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Shops</h1>

<div id="shops">

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Biography</th>
          <th scope="col">Add to Favorites</th>
          <th scope="col">Show</th>
        </tr>
      </thead>
      <tbody>
      <% @shops.each do |shop| %>
      <tr>
        <%= render shop %>
        <% if !current_user.reload.shop_favorites.include?(shop) %>
          <td><%= link_to "favorite",   favorite_shop_path(shop, type: "favorite"), data: { "turbo-method": :put } %></td>
        <% else %>
          <td><%= link_to "unfavorite", favorite_shop_path(shop, type: "unfavorite"), data: { "turbo-method": :put } %></td>
        <% end %>
        <td><%= link_to 'Show', shop %></td></td>
      </tr>
      <% end %>
      </tbody>
    </table>
</div>

