<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <% if current_user %>
  <p>Hello <%= current_user.email %>!</p>
  <p>You are <%= current_user.role %></p>
  <p>You're logged in.</p>
  <%= link_to "Create Shop", new_shop_path %>
  <%= link_to 'Sign Out', destroy_user_session_path, 'data-turbo-method': :delete %>

  <% else %>
  <p>You are not logged in.</p>
  <%= link_to "Sign Up!", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>

<% end %>
