<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Welcome to Pickles</h1>
 <% if current_user %>
  <p>Hello <%= current_user.email %>!</p>
  <% if current_user.shop.present? %>
    <%= link_to 'Create Item', new_item_path, class: 'btn btn-secondary mb-2' %>
  <% elsif current_user.role %>
    <%= link_to 'Create Shop', new_shop_path, class: 'btn btn-secondary mb-2' %>
  <% end %>
  <br/>
  <%= link_to 'Sign Out', destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-secondary" %>

  <% else %>
  <p>You are not logged in.</p>
  <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-secondary m-2" %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-secondary" %>

<% end %>
