<% if item.shop.isVisible %>
<div class="card m-5" style="max-width: 15vw;min-width: 15vw">
<%=link_to item do %>
    <img src="ege.jpg" class="card-img-top" alt="...">
    <%end %>
  <div class="card-body">
    <h5 class="card-title text-uppercase text-decoration-none"><%=item.name%></h5>
    <p class="card-text text-capitalize"><%= item.description %></p>
    <h4 class="card-text"><%= item.shop.name %></h4>
    <p class="card-text"><%= !get_review(item.id).empty? ? get_review(item.id).average(:star) : "No reviews" %></p>
    <% if current_user.present? %>
      <% if !current_user.reload.item_favorites.include?(item) %>
        <p class="card-text"><small class="text-muted"><%= link_to "Add to favorite",   add_to_favorite_item_path(item, type: "favorite"), data: { "turbo-method": :put } %></small></p>
      <% else %>
        <p class="card-text"><small class="text-muted"><%= link_to "Unfavorite", add_to_favorite_item_path(item, type: "unfavorite"), data: { "turbo-method": :put } %></small></p>
      <% end %>
    <% end %>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

  </div>
</div>
<% end %>