<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<div id="items">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Stock</th>
      <th scope="col">Description</th>
      <th scope="col">Shop Name</th>
      <% if current_user.present? %>
        <th scope="col">Add to Favorites</th>
      <% end %>
      <% if can_user_edit_item(@item.shop_id) %>
        <th scope="col">Edit</th>
        <th scope="col">Destroy</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <tr>
        <%= render @item %>

        <% if can_user_edit_item(@item.shop_id) %>
          <td><%= link_to "Edit this item", edit_item_path(@item) %></td>
          <td><%= button_to "Destroy this item", @item, method: :delete %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

