<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<div class="container">
        <%= render @item %>
        <% if can_user_edit_item(@item.shop_id) %>
          <%= link_to "Edit this item", edit_item_path(@item), :class=>"btn btn-primary btn-lg" %>
          <%= button_to "Destroy this item", @item, method: :delete, :class=>"btn btn-danger btn-lg" %>
        <% end %>
  <h2>Comments</h2>
  <% unless get_review(@item.id).empty? %>
  <%  get_review(@item.id).each do |review|  %>
    <%=  review.comment  %>
    <%=  review.user  %>
  <%  end  %>
  <%  end %>
</div>
